

body {
    background-color: black;
    color: lawngreen;
    letter-spacing: 1px;
    font-family: 'nova mono', monospace;
}
 

/* lien non visité */
a:link {
    color: lawngreen;
    text-decoration: underline;
    font-family: 'nova mono', monospace;
}

/* lien visité */
a:visited {
    color: lawngreen;
    text-decoration: dotted;
    font-family: 'nova mono', monospace;
}

/* souris sur lien */
a:hover {
    color: white;
    text-decoration: underline;
    font-family: 'nova mono', monospace;
}

/* lien cliqué */
a:active {
    color: white;
    text-decoration: dotted;
    font-style: oblique;
    font-family: 'nova mono', monospace;
}   




/* Titre */
#titre {
    font-style: none;
	font-size: 50px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
}
/* Sous-Titre */
#soustitre {
    font-style: italic;
    font-family: 'Source Code Pro', monospace;
}
/* Retour présentation */
#retour_presentation {
    font-style: normal;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}
/* Liens Galeries */
#galeries {
    font-style: normal;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}
/* Explications */
#explic {
    border-left: 6px solid white;
    background-color: rgba(255, 255, 255, 0.288);
    color: lawngreen;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    padding: 15px;
    
}

#explic_2 {
    border-left: 6px solid white;
    background-color: rgba(255, 255, 255, 0.288);
    color: lawngreen;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    padding: 10px;
    
}

/* Position du canevas */
#sketch-holder {
    position: absolute;
    left: 50%;
    width: 400px;
    margin-left: -200px;
}



/* bouton */
.button {
    background-color: lawngreen;
    border: 10px blueviolet;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 20px;
    font-family: 'nova mono', monospace;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 0px;
    
}
/* souris sur bouton */
.button:hover {
    background-color: white;
    border: none;
    color: lawngreen;
    padding: 13px 23px;
    text-align: center;
    font-size: 20px;
    font-family: 'nova mono', monospace;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0px;
}
/* bouton cliqué */
.button:active {
    background-color: black;
    border: none;
    color: lawngreen;
    padding: 13px 23px;
    text-align: center;
    font-size: 20px;
    font-family: 'nova mono', monospace;
    font-weight: bold;
    cursor: wait;
    border-radius: 0px;
}





/* Barre home */

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: goldenrod
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*affichage scores*/
#conteneurPointsJoueur1 {
    text-decoration: none;
    color: rgb(200, 0, 0);
    font-family: 'Share Tech Mono', monospace;
    font-size: 150px;
    font-weight: normal;
    float: left;
}

#conteneurPointsJoueur2 {
    text-decoration: none;
    color: rgb(0, 0, 200);
    font-family: 'Share Tech Mono', monospace;
    font-size: 150px;
    font-weight: normal;
    float: right;
}

#namepts1 {
	text-decoration: none;
    color: rgb(200, 0, 0);
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
    font-weight: normal;
    float: left;
}

#namepts2 {
	text-decoration: none;
    color: rgb(0, 0, 200);
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
    font-weight: normal;
    float: right;
}